1.general rules should often open to the publlic
2.private rules must provide reson to be private an declare some information that can be public
3.chance to show view are related to donation point contribution point etc.
4.entity who contribute to the project should get profit according to contribution and project income. who copy but not contribute to this porject for marketshare
  will get lower point in some aspect.who support it will too.(point are therefore more accurate decribe something).
