1.general rules should often open to the publlic
2.private rules must provide reson to be private an declare some information that can be public
3.chance to show view are related to donation point contribution point etc.
