[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = US
stateOrProvinceName = NC
localityName = RTP
organizationalUnitName = kolla
commonName = 10.10.10.254

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 10.10.10.254
